Name: {{ name }}
Version: {{ version }}
Release: {{ build_number }}%{?dist}
Summary: {{ description }}
License: {{ license }}
URL: {{ git_url }}
Source0: %{name}-%{version}.tar.gz
BuildArch: {{ architecture.rocky }}
Requires: {{ dependencies.rocky_common | join(',') }}

BuildRoot: %{_tmppath}/%{name}-%{version}-%{release}-root

%description
{{ title }}
{{ description }}

%prep
%setup -q

%build

%install
make DESTDIR=%{buildroot} install

%files
/usr/share/iscsi-ansible/*

%changelog
* Fri Mar 07 2025 Brett Kelly <bkelly@45drives.com> 1.0.3-2
- update setup tasks for static config file
* Thu Feb 06 2025 Brett Kelly <bkelly@45drives.com> 1.0.3-1
- harden check for kernel mismatch
* Mon Nov 11 2024 Brett Kelly <bkelly@45drives.com> 1.0.2-1
- refresh dnf cache before checking for new kernels
- ensure kernel-devel is installed before building scst
* Thu Jul 25 2024 Brett Kelly <bkelly@45drives.com> 1.0.1-1
- initial package build
- updated pcs config options
* Wed Jul 24 2024 Brett Kelly <bkelly@45drives.com> 1.0.0-1
- initial package build